@charset "UTF-8";

nav {
    display: none;
}

strong {
    font-family: var(--fonte-destaque);
    font-weight: bold;
    text-align: center;
    padding: 6px;
    border-radius: 5px;
    color: var(--cor0);
    background-color: var(--cor7);
}

div.imagens {
    /*padding: 14px;
    margin-bottom: 20px;*/
    display: block;
    text-align: center;
}

div.botao {
    text-align: center;
    margin: 30px;
}

img {
    width: 374px;
    height: 250px;
    transition: scale 0.3s;
}

img.retrato {
    width: 250px;
    height: 374px;
}

img:hover {
    scale: 1.2;
}

a.botao {
    font-family: var(--fonte-destaque);
    font-weight: bold;
    text-decoration: none;
    padding: 6px;
    border-radius: 5px;
    color: var(--cor0);
    background-color: var(--cor7);
}

a.botao:hover {
    color: var(--cor7);
    background-color: var(--cor2);
}
    