@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
    --cor0: white;
    --cor1: #c7c5c5;
    --cor2: #8e8686;
    --cor3: #6b6464;
    --cor4: #4c4646;
    --cor5: #302e2e;
    --cor6: #242121;
    --cor7: black;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: Merriweather, cursive;
}

nav {
    display: none;
}

strong {
    font-family: var(--fonte-padrao);
    font-weight: bold;
    text-align: center;
    padding: 6px;
    border-radius: 5px;
    color: var(--cor1);
    background-color: var(--cor5);
}

div.imagens {
    /*padding: 14px;
    margin-bottom: 20px;*/
    display: block;
    text-align: center;
}

div.botao {
    text-align: center;
    margin: 30px;
}

img {
    width: 250px;
    height: 167px;
    transition: scale 0.3s;
}

img.retrato {
    width: 167px;
    height: 250px;
}

img:hover {
    scale: 1.8;
}

a {
    font-family: var(--fonte-padrao);
    font-weight: bold;
    text-decoration: none;
    padding: 6px;
    border-radius: 5px;
    color: var(--cor1);
    background-color: var(--cor5);
}

a:hover {
    color: var(--cor6);
    background-color: var(--cor3);
}
