@charset "UTF-8";

nav {
    display: none;
}

div.imagens {
    /*padding: 14px;
    margin-bottom: 20px;*/
    display: block;
    text-align: center;
}

div.botao {
    text-align: center;
    margin: 30px;
}

img {
    width: 374px;
    height: 250px;
    margin: 15px 3px;
    transition: scale 0.3s;
}

img.retrato {
    width: 250px;
    height: 374px;
}

img:hover {
    scale: 1.2;
}

a.botao {
    font-family: var(--fonte-destaque);
    text-decoration: none;
    padding: 6px;
    border-width: thin;
    border-radius: 5px;
    color: var(--cor7);
    background-color: var(--cor9);
}

a.botao:hover {
    color: var(--cor7);
    background-color: var(--cor8);
}

#comentarioForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formResposta {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#comentarioForm input,
#comentarioForm textarea,
#comentarioForm button {
    width: 400px;
    box-sizing: border-box;
    font-family: var(--fonte-padrao);
    font-size: 18px;
}

.formResposta input, .formResposta textarea {
    width: 400px;
    box-sizing: border-box;
    font-family: var(--fonte-padrao);
    font-size: 18px;
}

#comentarioForm input, .formResposta input {
    height: 37.8px;
}

#comentarioForm textarea, .formResposta textarea {
    height: 108px;
}

#comentarioForm button {
    height: 21.6px;
    background-color: var(--cor9);
    color: var(--cor7);
    border-width: thin;
    border-radius: 5px;
}

#comentarioForm button:hover,
.btnResponder:hover,
.btnEnviarResposta:hover,
.btnCancelarResposta:hover {
    background-color: var(--cor8);
    color: var(--cor7);
}

#listaComentarios {
    width: 400px;
    margin: 30px 0px 0px 0px;
    list-style-type: none;
    font-family: var(--fonte-padrao);
}

.listaRespostas {
    margin: 8px 0px 0px 24px;
    list-style-type: none;
    font-family: var(--fonte-padrao);
}

#listaComentarios > li, .listaRespostas > li {
    padding-bottom: 15px;
}

#comentarios h2 {
    font-family: var(--fonte-destaque);
    font-size: 1.8em;
    text-align: left;
    margin: 30px 0px 10px 0px;
}

.btnResponder,
.btnEnviarResposta,
.btnCancelarResposta {
    height: 21.6px;
    background-color: var(--cor9);
    color: var(--cor7);
    font-family: var(--fonte-padrao);
    font-size: 16px;
    border-width: thin;
    border-radius: 5px;
}

.btnResponder,
.btnCancelarResposta {
    width: 150px;
    margin: 0px 0px 0px 10px;
}
