@charset "UTF-8";

:root {
    --cor0: white;
    --cor1: #c7c5c5;
    --cor2: #8e8686;
    --cor3: #6b6464;
    --cor4: #4c4646;
    --cor5: #302e2e;
    --cor6: #242121;
    --cor7: black;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: Merriweather, cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

nav {
    display: none;
}

main > h1 {
    font-size: 2.1em;
}

main > h2 {
    font-size: 1.8em;
    text-align: left;
    margin: 10px 0px
}

main > h3 {
    font-size: 1.7em;
}

figure {
    display: block;
    text-align: center;
    margin: 30px 0px 0px 0px;
}

figure > img {
    width: 500px;
}

figure > figcaption {
    text-align: left;
    font-family: var(--fonte-padrao);
    font-size: 1em;
    margin: 0px 0px 5px 0px;
}

.fonte {
    font-family: var(--fonte-padrao);
    font-size: 0.8em;
    margin: 0px 0px 20px 0px;
}

#referencia {
    margin: 0px 0px 20px 0px;
}

ul > li {
    list-style-type: none;
    margin: 10px 0px;
}

a {
    font-family: var(--fonte-padrao);
    text-align: justify;
    color: var(--cor6);
}

footer {
    background-color: var(--cor6);
    color: var(--cor1);
    font-family: var(--fonte-padrao);
    font-size: 0.8em;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
