@charset "UTF-8";

nav {
    display: none;
}

main > h1 {
    margin: 0px 0px 20px 0px;
}

ul > li {
    list-style-type: none;
    margin: 10px 0px;
}

a {
    font-family: var(--fonte-destaque);
    font-size: 1.2em;
    text-align: justify;
    color: var(--cor6);
}