@charset "UTF-8";

nav {
    display: none;
}

table {
    width: 450px;
    font-family: var(--fonte-padrao);
    border-bottom: 1px solid var(--cor9);
    margin: auto;
}

caption {
    font-family: var(--fonte-padrao);
    font-size: 1.1em;
    padding: 5px;
    background-color: var(--cor8);
}

th {    
    color: var(--cor7);
    background-color: var(--cor8);
    padding: 5px;
}

tr:nth-child(2n) {
    background-color: var(--cor8);
}

td {
    padding: 3px;
}

td.telefone {
    width: 130px;
}

div#container {
    overflow-x: auto;
}